
  <div class="container" style="padding-top: 50px">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 ">
        <div id="form-background" class="text-center">         
          <h1>My Contact Information</h1>
          <h3>
          Other users who are working on the same project
          can see this information.
          </h3>
          <form name="socialUpdate" action="/profile" method="post">
            <div class="row control-group">
              <div class="form-group col-xs-8 col-xs-offset-2 floating-label-form-group controls">
                <label>Facebook</label>
                <input type="url" class="form-control" placeholder="Facebook URL" name="facebook">
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-8 col-xs-offset-2 floating-label-form-group controls">
                <label>Twitter</label>
                <input type="url" class="form-control" placeholder="Twitter URL" name="twitter">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-xs-12">
                  <button type="submit" class="btn btn-default">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>