<div class="main">
  <div class="letterboxing"></div>
  <div class="pageParent">
    <div class="pageCenter col-md-6 col-md-offset-3">
      <div class="row">
        <img src="/img/logo-large.png" class="img-responsive center-block"> 
        <h4 class="text-center">
        A collab/for-hire web application that connects artists and employers.
        </h4>
        <div class="text-center">
          <a href="/signup"><button>Signup</button></a>
          <a href="/login"><button>Login</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="letterboxing" id="bottomLetter"></div>
</div>

<!-- <img src="/img/logo-large.png" class="img-responsive center-block"> -->