<head>
	<!-- bootstrap --> 

</head>

<body>

	<h1>Title: </h1>{{ thread.title}}

	<br>

	<h1>Description: </h1>{{ thread.description }}

	<br>

	<h1>Difficulty: </h1>{{ thread.difficulty }}

	<br>

	<h1>Purpose: </h1>{{ thread.purpose }}

</body>