
	<div class="vertical-align"> 
		{{#if cur_user}}
			{{>navbar}}
		{{/if}}
		<h1 class="text-center">404</h1>
		<h1 class="text-center">Not Found</h1>
		<h2 class="text-center"> Looks like this page doesn't exist. Did you mistype something? Or maybe it's just not implemented yet!</h2>
		<h3 class="text-center"> <a href="/" style="color: maroon">Anyhow, let's go back.</a></h3>
	</div>
