<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 ">
      <div class="page-heading">
        <a href='/'> <img src='/img/logo-large-black.png' class="img-responsive center-block" style="padding-top:80px"> </a>
      </div>
    </div>
  </div>
</div>

<div class="container" >
  <div id="form-background" class="col-xs-8 col-xs-offset-2">
      <div class="text-center">
        <h1>My Projects</h1>
        <p>
          This pane will display all the threads
          the user has created, or been highlighted for.
        </p>
      </div>
  </div>
</div>