

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <a href='/'> <img src='/img/logo-large-black.png' class="img-responsive center-block" style="padding-top:80px"> </a>
          </div>
        </div>
      </div>
    </div>


<div id="form-background" class="col-md-8 col-md-offset-2 ">
  <div class="container" >
    <div class="row">
      <div class="text-center">
        <h1>My Projects</h1>
        <p>This pane will display all the threads
           the user has created, or been highlighted for.
        </p>
      </div>
    </div>
  </div>
</div>