<h1>this is post</h1>

<form name="create-post" action="/thread" method="post">
	<label>Title</label>
	<input type='text' name='title'>

	<br>
	
	<label>Description</label>
	<input type='text' name='description'>

	<button type='submit'>Submit</button>
</form>


{{#each threads}}
   
	<div>
		<!-- assign id to each invidual thread -->
		<a href='/thread/{{ this.slug }}'> 
	        {{this.title}}
	    </a>
	    	{{this.description}}
	</div>
	    
    <br>
{{/each}}